<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
   
   <!-- DrivermanagerDataSource configuration -->
   <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	   <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
	   <property name="url" value="jdbc:mysql://localhost:3306/sbms_39" />
	   <property name="username" value="root" />
       <property name="password" value="idfc" />
   </bean>
   
   <!-- Spring JDBC Template -->
    <bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
      <constructor-arg name="dataSource" ref="ds"/>
    </bean>
    
    <bean id="bookDao" class="com.userdao.BookDAOImpl"> 
		<property name="jdbcTemplate" ref="jt" />
	</bean>
    
    <bean id="bookService" class="com.userservice.BookServiceImpl">
		<property name="bookDao" ref="bookDao" />
	</bean>

</beans>